<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857414413546-rqvsh586hqe0ua0ieoj020abcp4d3tn1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857414413546-rqvsh586hqe0ua0ieoj020abcp4d3tn1</string>
	<key>API_KEY</key>
	<string>AIzaSyAj4ytFRCAgW9NIw4pf-h49T9PHuKGdohI</string>
	<key>GCM_SENDER_ID</key>
	<string>857414413546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.reviewUniversity</string>
	<key>PROJECT_ID</key>
	<string>reviewuniversity-56c41</string>
	<key>STORAGE_BUCKET</key>
	<string>reviewuniversity-56c41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857414413546:ios:c6de6537ec4f129cd53b93</string>
	<key>DATABASE_URL</key>
	<string>https://reviewuniversity-56c41-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>